<div class="wrapper">
  <%= render "devise/shared/header" %>

  <%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <%# 入力フォーム %>
  <div class="form-area1">
    <div class='form-header1'>
      <h1 class="form-title">アカウント作成</h1>
      <p class="form-content">新しく作成するアカウントの情報を入力してください。</p>
    </div>

      <div class="form-group">
        <%= f.label "アカウント名", class: "form-label" %>
        <%= f.text_field :nickname, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "メールアドレス", class: "form-label" %>
        <%= f.email_field :email, class: "form-control", placeholder:"sample@gmail.com" %>
      </div>
      <div class="form-group">
        <%= f.label "パスワード（英数字含む6文字以上）", class: "form-label" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "もう一度パスワードを入力してください" , class: "form-label"%>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "年齢", class: "form-label" %>
        <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"form-control"}) %>
      </div>
      <div class="form-group">
        <%= f.label "ライフスタイル" , class: "form-label"%>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-control"}) %>
      </div>
      <div class='form-bottom-text'>
        <%= f.submit "次へ" ,class: "btn btn-outline-secondary"%>
      </div>

  </div>

  <% end %>
</div>
