<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      ユーザー登録
    </h1>
  </div>

    
  
  <form>
  <div class="form-group">
    <%= f.label "ユーザー名" %>
    <%= f.text_field :nickname, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Email" %>
    <%= f.email_field :email, class: "form-control", placeholder:"sample@gmail.com" %>
  </div>

  <div class="form-group">
    <%= f.label "Password" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Password 確認" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

<div class="form-group">
<label for="inputState">年齢</label>
 <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"form-control"}) %>
  </div>


 <div class="form-group">
<label for="inputState">ライフスタイル</label>
 <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-control"}) %>
  </div>

  <div class='form-bottom-text'>
  <div class="register-btn">
    <%= f.submit "次へ" ,class: "btn btn-outline-secondary"%>
  </div>
   </div>
  </form>
<% end %>
