<h2>２ページ目</h2>

<%= form_with model: @assettable, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: @assettable %>


  <div class="field">
  <%= f.label "選択してください" %>
  <%= f.collection_select :list_id, List.where(code: 100..199), :id, :code_name, :include_blank => "--" %>
  </div>

  <div class="field">
    <%= f.label "金額を入力" %><br />
    <%= f.text_field :balance %>
  </div>


  <div class="actions">
    <%= f.submit "次へ" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>