<div class="wrapper">
<%= render "shared/header" %>


<%= form_with model: @assettable, class: 'registration-main', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: @assettable %>

<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      ２ページ目
    </h1>
  </div>

  <form>

  <div class="form-group">
  <%= f.label "勘定科目" %>
  <%= f.collection_select :list_id, List.where(code: 100..199), :id, :code_name, class:"form-control", include_blank:  "選択してください" %>
  </div>

  <div class="form-group">
    <%= f.label "金額を入力" %>
    <%= f.text_field :balance,  class: "form-control", placeholder:"例) 1000" %>
  </div>


  <div class='form-bottom-text'>
  <div class="register-btn">
    <%= f.submit "次へ" ,class: "btn btn-outline-secondary"%>
  </div>
   </div>
  </form>
<% end %>
</div>