<div class="wrapper">
  <%= render "devise/shared/header" %>
  <%= form_with model: @debttable, url: create_assettable_and_debttable_path, class: 'registration-main', local: true do |f| %>

  <%# フォームヘッダー %>
  <div class="form-area1">
    <div class='form-header1'>
      <h1 class="form-title">負債残高入力フォーム</h1>
      <p class="form-content">現在の負債情報を入力してください。</p>
    </div>
    <div class="form-template">
      <div class="example-content">
        <p>どんな形でいくら持っていますか？<br>
          例）カーローンが30万残っている</p>
      </div>
      <div class="example-field">
        <div class="example-select">
          <select class="form-select form-select-sm" disabled>
            <option>カーローン</option>
          </select>
        </div>
        <div class="example-form">
          <form>
            <input class="form-control form-control-sm" type="text" placeholder="300000" disabled>
          </form>
        </div>
      </div>
    </div>

    <%# 入力フォーム %>
    <div class="form-table">
      <table class="table">
        <thead>
          <tr>
            <th>勘定科目</th>
            <th>残高</th>
          </tr>
        </thead>
        <tbody class="bulk-registration-form">
          <%= f.fields_for :debttables do |d_field| %>
          <tr class="item">
            <td class="list_field_box">
              <%= d_field.collection_select :list_id, List.where(code: 200..299), :id, :code_name, { prompt: "選択してください" }, class: "form-select form-select-sm"  %>
            </td>
            <td class="balance_field_box">
              <%= d_field.text_field :balance, placeholder: "¥", class: 'form-control form-control-sm'%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class='form-bottom-text'>
        <%= f.submit "登録", class: "btn btn-outline-secondary", onclick:"return checkProperites()" %>
      </div>

      <% end %>
    </div>
  </div>
</div>


<script>
  //勘定項目か残高が入力されていない場合はアラートを出す
  const checkProperites = function () {
    let list_fields = document.getElementsByClassName("list_field_box")
    let balance_fields = document.getElementsByClassName("balance_field_box")
    for (i = 0; i < list_fields.length; i++) {
      target_list_field = list_fields[i]
      target_balance_field = balance_fields[i]
      if ((target_list_field.childNodes[1].options.selectedIndex == 0 && target_balance_field.childNodes[1].value) ||
        (target_list_field.childNodes[1].options.selectedIndex >= 1 && target_balance_field.childNodes[1].value == "")
      ) {
        alert(`エラー ${i+1}行の勘定科目or残高が入力されていません。`)
        return false
      }
    }
  }
</script>