<div class="wrapper">
  <%= render "devise/shared/header" %>

  <%= form_with model: @debttable,class: 'registration-main', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: @debttable %>

    <%# フォームエリア %>
    <div class="form-area1">
      <div class='form-header1'>
        <h1 class="form-title">負債</h1>
        <p class="form-content">現在の負債状況について教えてください。</p>
      </div>
        
      <%# フォームエリア %>
      <div class="form-input">
        <div class="form-field" id="form-field">
          <div id= "selectbox_0">
          <%= f.collection_select :list_id, List.where(code: 200..299), :id, :code_name, { prompt: "選択してください" }, class: "form-select form-select-sm"  %>
          </div>
          <%= f.text_field :balance, placeholder:"例) 1000" ,id: "input-balance_0"%>
          <button id="0" onclick="deleteBtn(this)">削除</button>
        </div>
          <input type="button" value="追加" id="add-btn">
      </div>
      <div class='form-bottom-text'>
        <%= f.submit "登録" ,class: "btn btn-outline-secondary"%>
      </div>

  <% end %>
</div>