<div class="wrapper">
  <%= render "devise/shared/header" %>

  <%= form_with model: @assettable, class: 'registration-main', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: @assettable %>

    <%# 入力フォーム %>
    <div class="form-area1">
      <div class='form-header1'>
        <h1 class="form-title">資産</h1>
        <p class="form-content">現在の資産状況について教えてください。</p>
      </div>
        <div class="form-group">
          <%= f.label "勘定科目" %>
          <%= f.collection_select :list_id, List.where(code: 100..199), :id, :code_name, class:"form-control", include_blank:  "選択してください" %>
        </div>
        <div class="form-group">
          <%= f.label "金額を入力" %>
          <%= f.text_field :balance,  class: "form-control", placeholder:"例) 1000" %>
        </div>
        <div class='form-bottom-text'>
          <%= f.submit "次へ" ,class: "btn btn-outline-secondary"%>
        </div>
    </div>

  <% end %>
</div>