<div class="wrapper">
  <%= render "shared/header" %>
    <div class="mein">

    <!-- ナビ -->
    <%= render "shared/mypage_nav" %>

    <!-- アカウント情報 -->
    <div class="mypage-area">
      <div class="mypage-field1">
        <div class='mypage-header'>
          <h1>プロフィール</h1>
        </div>
        <div class="mypage-form">

          <div class="mypage-line">
            <div class="mypage-column">名前</div>
            <div class="mypage-input"><%= @user.nickname %></div>
          </div>
          <div class="mypage-line">
            <div class="mypage-column">メールアドレス</div>
            <div class="mypage-input"><%= @user.email %></div>
          </div>
          <div class="mypage-line">
            <div class="mypage-column">年齢</div>
            <div class="mypage-input"><%= @user.age.name %></div>
          </div>
          <div class="mypage-line">
            <div class="mypage-column">ライフスタイル</div>
            <div class="mypage-input"><%= @user.category.name %></div>
          </div>
        </div>
      </div>

    </div>
  </div>