<div class="wrapper">
  <%= render "shared/header" %>
    <div class="mein">

    <!-- ナビ -->
    <div class="nav-area">
      <nav class="nav">
        <%= link_to 'アカウント', user_path, class:"nav-link active" %>
        <%= link_to 'アカウント編集', edit_user_path, class:"nav-link" %>
        <%= link_to '登録情報', edit_user_path, class:"nav-link" %>
      </nav>
    </div>

    <!-- アカウント情報 -->
    <div class="mypage-area">
      <div class="mypage-field1">
        <div class='mypage-header'>
          <h1>アカウント</h1>
        </div>
        <div class="mypage-form">

          <div class="mypage-line">
            <div class="mypage-column">名前</div>
            <div class="mypage-input"><%= @user.nickname %></div>
          </div>
          <div class="mypage-line">
            <div class="mypage-column">メールアドレス</div>
            <div class="mypage-input"><%= @user.email %></div>
          </div>
          <div class="mypage-line">
            <div class="mypage-column">年齢</div>
            <div class="mypage-input"><%= @user.age.name %></div>
          </div>
          <div class="mypage-line">
            <div class="mypage-column">ライフスタイル</div>
            <div class="mypage-input"><%= @user.category.name %></div>
          </div>
        </div>
      </div>

    </div>
  </div>