<!-- ログインユーザーヘッダー -->
<header class="header">
  <div class='logo'>
    <%= link_to 'Money Forest', books_path %>
  </div>
  <div class="header-nav">
    <nav>
      <ul class="nav-bar">
        <%= link_to '仕訳帳', books_path, class:"btn btn-outline-light" %>
        <%= link_to '勘定科目', lists_path, class:"btn btn-outline-light" %>
        <%= link_to 'マイページ', user_path(current_user.id), class:"btn btn-outline-light" %>
      </ul>
    </nav>
    <div class='logout-btn'>
      <%= link_to 'ログアウト ＞', destroy_user_session_path,method: :DELETE, class:"btn btn-secondary btn-sm rounded-pill" %>
    </div>
  </div>
</header>

<!-- タブ -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to '記帳する', books_path, class:"nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to '集計する', summaries_path, class:"nav-link text-black-50"  %>
  </li>
  <%#li class="nav-item">
    <%= link_to '投稿する', books_path, class:"nav-link text-black-50"  %>
  <%#/li>
  <li class="nav-item">
    <%= link_to '検索する', books_path, class:"nav-link text-black-50"  %>
  </li>
</ul>