<div class="wrapper">
  <%= render "shared/header" %>

  <div class="mein">

    <%# 仕分登録フォーム %>
    <div class="books-new">
      <%= link_to '新しい仕分を作成', new_book_path, class:"btn btn-outline-secondary" %>
    </div>

    <%# 月度検索フォーム %>
    <div class="books-search">
      <div class="books-search-form">
        <%= search_form_for @q, url: search_books_path do |f| %>
        <%= raw sprintf(f.date_select(
                                :date_during_month,
                                use_month_numbers: true, 
                                date_separator: '%s', 
                                discard_day: true),'年 ') + '月' %>
        <%= f.submit "表示", id:"search-btn", class:"btn btn-outline-secondary btn-sm" %>
        <% end %>
      </div>
    </div>

    <h1>（仮）検索結果</h1>
<table>
  <thead>
    <tr>
      <th>借方</th>
      <th>¥</th>
      <th>借方</th>
      <th>¥</th>
      <th>memo</th>
    </tr>
  </thead>
  <tbody class="debit-lists">
  </tbody>
</table>


  </div>
</div>

