<div class="wrapper">
  <%= render "shared/header" %>

<div class="mein">

  <%# 仕分登録フォーム %>
  <%= link_to '新しい仕分を作成', new_book_path, class:"btn btn-outline-secondary" %>

  <%# 月別検索フォーム %>
  <%= search_form_for @q, url: search_books_path do |f| %>
  <%= raw sprintf(f.date_select(
                              :date_during_month,
                              use_month_numbers: true, 
                              date_separator: '%s', 
                              discard_day: true),'年 ') + '月' %>
  <%= f.submit "表示", class:"btn btn-outline-secondary btn-sm" %>
  <% end %>


  <%#h4>(仮)一覧表示</h4>
  <% @debits.each do |debit| %>  
    <%#div>
      <%= debit.list.code_name %>
      <%#= debit.debit_amount %>
      <%#= debit.credit.list.code_name %>
      <%#= debit.credit.credit_amount %>
      <%#= debit.memo %>
    <%#/div>
  <% end %>

</div>
</div>
