<div class="wrapper">
  <%= render "shared/header" %>

  <div class="mein">

    <!-- 仕分登録フォーム -->
    <div class="books-new">
      <%= link_to '新しい仕分を作成', new_book_path, class:"btn btn-outline-secondary" %>
    </div>

    <!-- 月度検索フォーム -->
    <div class="books-search">
      <div class="books-search-form">
        <%= search_form_for @q, url: books_searches_path do |f| %>
        <%= raw sprintf(f.date_select(
                                :date_during_month,
                                use_month_numbers: true, 
                                date_separator: '%s', 
                                discard_day: true,
                                ),'年 ') + '月' %>
        <% end %>
      </div>
    </div>

  <div class="books-table">
    <table class="table">
      <thead>
        <tr>
          <th class="books-tr">借方</th>
          <th></th>
          <th class="books-tr">借方</th>
          <th></th>
          <th class="books-tr">memo</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="js-debit-lists">
        <!-- 部分テンプレートを呼び出し-->
        <%= render partial: 'book', locals: { book: @books } %>
      </tbody>
    </table>
  </div>

  </div>
</div>