<h1>（仮）検索結果</h1>
<table>
  <thead>
    <tr>
      <th>借方</th>
      <th>¥</th>
      <th>借方</th>
      <th>¥</th>
      <th>memo</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |debit| %>
      <tr>
        <td><%= debit.list.code_name %></td>
        <td><%= debit.debit_amount %></td>
        <td><%= debit.credit.list.code_name %></td>
        <td><%= debit.credit.credit_amount %></td>
        <td><%= debit.memo %></td>
        <td><%= link_to '修正', edit_book_path(debit) %></td>
        <td><%= link_to '削除', book_path(debit), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '（仮）Top', books_path %>